<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="mx-auto">
        <h1 class="text-center fw-bold text-body-emphasis mb-5">Sobre o Buguinho</h1>
        <hr>
    </header>
  
    <main>
      <h1 class="text-body-emphasis mt-5 mb-4 text-center">Projeto</h1>
      <p class="fs-5 mb-5 text-center">O Projeto Buguinho é uma aplicação web desenvolvida para facilitar o gerenciamento de bugs em projetos pessoais ou profissionais de forma prática e organizada. Criado com Angular no front-end e Spring Boot no back-end, o sistema permite cadastrar, editar, excluir e filtrar bugs, além de seus desenvolvedores. Idealizado como parte de um projeto acadêmico, o Buguinho alia tecnologia e usabilidade para oferecer uma experiência simples e eficiente na administração de seus problemas do dia a dia.</p> 
      <hr>
    </main>

    <footer class="my-5 text-body-secondary">
      Criado por Henrique Andrade | Henrique Carvalho · © Buguinho-2025
    </footer>
  </div>
