<div class="d-flex flex-column flex-shrink-0 p-3 bg-sidebar sidebar-full" style="width: 280px;">
  <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-white">
    <svg class="bi pe-none me-2" width="40" height="32"></svg>
    <span class="fs-4 font">🦗 Buguinho</span>
  </a>

  <hr style="border-color: #244C4E">


  <ul class="nav nav-pills flex-column mb-auto">

  <li>
    <a routerLink="/home" class="nav-link fs-5 font text" aria-current="page" routerLinkActive="bg-active">
      <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect width="7" height="9" x="3" y="3" rx="1"></rect>
        <rect width="7" height="5" x="14" y="3" rx="1"></rect>
        <rect width="7" height="9" x="14" y="12" rx="1"></rect>
        <rect width="7" height="5" x="3" y="16" rx="1"></rect>
      </svg>
      Início
    </a>
  </li>

  <li>
    <a routerLink="/bugs" class="nav-link font fs-5 text" routerLinkActive="bg-active">
      <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect width="8" height="14" x="8" y="6" rx="4"></rect>
        <path d="M19 8l-3 2"></path>
        <path d="M5 8l3 2"></path>
        <path d="M19 16l-3-2"></path>
        <path d="M5 16l3-2"></path>
        <path d="M20 12h-4"></path>
        <path d="M4 12h4"></path>
        <path d="M12 18v4"></path>
        <path d="M12 2v4"></path>
      </svg>
      Bugs
    </a>
  </li>

  <li>
    <a routerLink="/developer" class="nav-link font fs-5 text" routerLinkActive="bg-active">
      <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
        <circle cx="9" cy="7" r="4"></circle>
        <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
      </svg>
      Desenvolvedores
    </a>
  </li>

  <li>
    <a routerLink="/projects" class="nav-link font fs-5 text" routerLinkActive="bg-active">
      <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect x="3" y="4" width="7" height="7" rx="1"></rect>
        <rect x="14" y="4" width="7" height="7" rx="1"></rect>
        <rect x="3" y="15" width="7" height="7" rx="1"></rect>
        <rect x="14" y="15" width="7" height="7" rx="1"></rect>
      </svg>
      Projetos
    </a>
  </li>

</ul>


  <ul class="nav nav-pills flex-column ">
    <hr style="border-color: #244C4E">
    <a routerLink="/about" class="nav-link font fs-5 text" routerLinkActive="bg-active">
      <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
      </svg>
      ⓘ Sobre
    </a>
  </ul>
</div>

<footer class="text-center bg-sidebar text1 sidebar-top-footer">
  .
</footer>