.btn-custom {
  background-color: #AAED7F;
  color: #244C4E;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #244C4E;
  color: #AAED7F;
}

.with-sidebar {
  margin-left: 280px !important; 
}

.btn-outline-secondary:hover {
  background-color: #244C4E !important;
  color: #AAED7F !important;
  border-color: #244C4E !important;
}